*.xml linguist-language=XML
*.java linguist-language=Java
*.kt linguist-language=Kotlin
*.js linguist-language=JavaScript
*.fth linguist-language=Forth
*.v linguist-language=Verilog
*.html linguist-language=HTML

*.xml linguist-detectable=true
*.java linguist-detectable=true
*.kt linguist-detectable=true
*.js linguist-detectable=true
*.fth linguist-detectable=true
*.v linguist-detectable=true
*.html linguist-detectable=true
